{% for article in blog.articles %}
<div class="article-item">
  <div class="article-item--image-wrapper aspect-ratio__1x1">
    <a href="{{ article.url }}">
      {% assign imgSrc = article.image %}
      <img
        class="article__list-image lazyload"
        src="{{imgSrc.src | img_url: '600x'}}"
        alt="{{ article.title }}"
      />
    </a>
  </div>

  <div class="meta--wrapper">
    <p>
      {{ article.created_at | date: '%d.%m.%Y' }}
    </p>
  </div>

  <div class="article-item__title--wrapper">
    <h3>{{ article.title }}</h3>
  </div>

  {% if article.tags.size > 0 %}
    <ul class="tags-list">
      {% for tag in article.tags %}
      <li>{{ tag }}{% unless forloop.last %}, {% endunless %}</li>
      {% endfor %}
    </ul>
    {% endif %}

  <div class="article-item__link--wrapper">
    <a href="{{ article.url }}"> Read Now {% render 'blog-link-arrow'%} </a>
  </div>
</div>
{% endfor %}
