<div class="blog-filter-wrapper">
  {% if current_tags %}
  <h3>{{ current_tags.first }}</h3>
  {% else %}
  <h3>Latest Posts</h3>
  {% endif %} {% if blog.tags.size > 0 %}
  <div class="blog-filter">
    <label
      class="blog-filter__label select-label"
      for="BlogTagFilter"
      style="display: none"
      aria-label="Select Category Tags"
      >Select Tags</label
    >
    <div class="select-group">
      <select
        id="BlogTagFilter"
        aria-describedby="a11y-refresh-page-message a11y-selection-message"
      >
        <option value="/blogs/{{ blog.handle }}">All Topics</option>
        {% for tag in blog.all_tags %}
        <option
          value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}"
          {%
          if
          current_tags
          contains
          tag
          %}selected{%
          endif
          %}
        >
          {{ tag }}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  {% endif %}
</div>
