<div class="product-page__hero-wrapper">
  <div class="hero-wrapper__col-01">
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default:
    product.featured_image %}
    <div class="product-swiper-container">
    <div class="swiper-wrapper">
    {% for image in product.images %}
        <div class="swiper-slide">
          <img
          src="{{ image.src | img_url: 'master' }}"
          alt="{{ image.alt | escape }}"
          class="product-image swiper-lazy"
          />
        </div>
    {% endfor %}
    </div>
    <div class="swiper-button-prev">
      <svg id="product-swiper_prev-arrow" width="9.019" height="11.819">
        <g data-name="product-swiper_prev-arrow">
          <path
            d="M8.729.412L.872 5.831l7.857 5.581"
            fill="none"
            stroke="black"
            stroke-miterlimit="10"
          />
        </g>
      </svg>
    </div>
    <div class="swiper-button-next">
      <svg id="product-swiper_next-arrow" width="9.019" height="11.819">
        <g data-name="product-swiper_next-arrow">
          <path
            d="M.29.412l7.857 5.419L.29 11.412"
            fill="none"
            stroke="black"
            stroke-miterlimit="10"
          />
        </g>
      </svg>
    </div>
    </div>
  </div>
  <div class="hero-wrapper__col-02">
    <div class="col-02--inner-wrapper">
      <h1>{{ product.title }}</h1>
      <p class="product__product-type">{{ product.type }}</p>
      <div>{{ product.description }}</div>
      <form
        action="/cart/add"
        method="post"
        enctype="multipart/form-data"
        id="AddToCartForm"
      >
        <select name="id" id="productSelect">
          {% for variant in product.variants %} {% if variant.available %}
          <option value="{{ variant.id }}">
            {{ variant.title }} - {{ variant.price | money_with_currency }}
          </option>
          {% else %}
          <option disabled="disabled"> {{ variant.title }} - sold out </option>
          {% endif %} {% endfor %}
        </select>
        <div class="product-add-to-cart--wrapper">
          <div class="product-price">
            <p>{{ current_variant.price | money }} + Tax</p>
            <p>- Shipping & Curbside Pickup</p>
          </div>
          <div class="product-controls">
            <div class="quantity--wrapper">
              <div class="decrement">
                <button
                  id="decreaseQuantity"
                  type="button"
                  aria-label="decrease quantity"
                  onclick="decrement(0)"
                >
                  <svg id="decrement-arrow" width="9.019" height="11.819">
                    <g data-name="decrement-arrow">
                      <path
                        d="M8.729.412L.872 5.831l7.857 5.581"
                        fill="none"
                        stroke="black"
                        stroke-miterlimit="10"
                      />
                    </g>
                  </svg>
                </button>
              </div>
              <input
                type="number"
                id="QuantityCount__Main"
                name="quantity"
                value="1"
                min="1"
                class="QuantityCount__Main"
              />
              <div class="increment">
                <button
                  id="increaseQuantity"
                  type="button"
                  aria-label="increase quantity"
                  onclick="increment(10)"
                >
                  <svg id="increment-arrow" width="9.019" height="11.819">
                    <g data-name="increment-arrow">
                      <path
                        d="M.29.412l7.857 5.419L.29 11.412"
                        fill="none"
                        stroke="black"
                        stroke-miterlimit="10"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </div>

            <button
              type="submit"
              name="add"
              id="AddToCart"
              class="button-main no-border"
            >
              Add to cart
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="features-bar">
  <ul class="feature-bar-list">
    <li class="feature-bar-list-item">Clean Beauty</li>
    <li class="feature-bar-list-item">All Natural</li>
    <li class="feature-bar-list-item">Fragance Free</li>
    <li class="feature-bar-list-item">Cruelty Free</li>
    <li class="feature-bar-list-item">Paraben Free</li>
    <li class="feature-bar-list-item">Non-GMO</li>
    <li class="feature-bar-list-item">Vegan</li>
  </ul>
</div>
{% section 'products-key-ingredients' %} {% section 'products-how-to-use' %} {%
section 'products-comments' %}
<script>
  function increment(max) {
    document.getElementById('QuantityCount__Main').value =
      parseInt(document.getElementById('QuantityCount__Main').value) + 1;
    if (document.getElementById('QuantityCount__Main').value >= parseInt(max)) {
      document.getElementById('QuantityCount__Main').value = max;
    }
  }
  function decrement(min) {
    document.getElementById('QuantityCount__Main').value =
      parseInt(document.getElementById('QuantityCount__Main').value) - 1;
    if (document.getElementById('QuantityCount__Main').value <= parseInt(min)) {
      document.getElementById('QuantityCount__Main').value = min;
    }
  }
</script>
